[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puphpet/puppetlabs-stdlib.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = git@github.com:puphpet/puppetlabs-apt.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/example42/puppet-php.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = git@github.com:example42/puppi.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git@github.com:example42/puppet-apache.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = git@github.com:example42/puppet-nodejs.git
